.footer {
    background-color: #323232;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    text-align: start;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff3f4f;
}

.footer-section h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #ff3f4f;
    font-weight: bold;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-section ul li a:hover {
    color: #e63946;
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a {
    color: #ff3f4f;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #ff3f4f;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
  
  .footer-social a:hover {
    transform: scale(1.2);
    background-color: rgba(255, 165, 0, 0.2); /* Light orange glow effect */
    padding: 8px; /* Keeps padding consistent */
    border-radius: 50%;
  }
  

.footer-bottom {
    margin-top: 20px;
    padding: 15px 0;
    background-color: #222;
    font-size: 14px;
}
