  .menu-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 1rem;
  }
  
  .menu-list {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    white-space: nowrap;
    scrollbar-width: none; /* Hide scrollbar */
  }
  
  .menu-item {
    flex: 0 0 auto;
    text-align: center;
  }
  
  #menu-image {
    width: 150px; /* Set fixed width */
    height: 150px; /* Set fixed height */
    object-fit: cover;
    border-radius: 50%; /* Make image circular */
}

.menu-name {
    font-size: max(1.4vw,16px);
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
    color: #747474;
}

hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}


.menu-list .active{
      border: 3px solid #ff7f50;
      padding: 2px;
      cursor: pointer;
  }